body {
    background-color: #1A1A1A;
    background: url(images/home_photo_cover1.jpg) no-repeat center center fixed;
    background-size: cover;
    color: azure;
    margin: 0;
}

main {
    background-color: #1A1A1A;
    width: auto;
    display: inline-block;
}

h1 {
    color: grey; /* This is a comment! */
    text-align: center;
    font-size: 5em;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    letter-spacing: .2em;
}

header h2 {
    color: #1A1A1A;
}

main > h2 {
    text-align: center;
    font-size: 2.5em;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
}

.h_align{
    text-align: center;
}

header{
    padding: 20px;
    height: 100vh;
}

header.grids {
    grid-template-columns: 25% 40% 25%;
    grid-template-rows: 250px auto;
}

#headerCol1 {
    grid-column: 1;
    grid-row: 2;
    color: #1A1A1A;
}

#headerCol2 {
    grid-column: 2;
    grid-row: 1;
}

#headerCol3 {
    grid-column: 3;
    grid-row: 2;
    color: #1A1A1A;
}

.blue_overline_text {
    color: #85BEFF;
    text-decoration: underline;
}

#red_underline_text {
    color: #FF7E9C;
    text-decoration: underline;
}

.divs {
    background-color: #FFFFFF60;
    padding: 20px;
    margin: 20px;
}

.grids {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
}

#tech {
    margin-left: 0;
    margin-right: 0;
    border-style: solid;
    border-width: 5px;
    border-color: #B3465F;
    border-radius: 5px;
    font-size: larger;
}

#techColumn4 {
    grid-column: 1;
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
}

#techColumn5 {
    grid-column: 2;
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
}

#techColumn6 {
    grid-column: 3;
    margin-left: auto;
    margin-right: auto;
}

#techColumn4 li {
    margin: 10px;
}

#techColumn5 li {
    margin: 10px;
}

#techColumn6 > h3 {
    font-size: larger;
}

#qualifications {
    margin-left: 0;
    margin-right: 0;
    border-style: solid;
    border-width: 5px;
    border-color: #FFF996;
    border-radius: 5px;
}

#qualColumn6 {
    font-size: larger;
    grid-column: 3;
    margin-left: 30px;
    margin-right: 30px;
}

#service {
    margin-left: 0;
    margin-right: 0;
    border-style: solid;
    border-width: 5px;
    border-color: #63D6FF;
    border-radius: 5px;
    padding-left: 120px;
    padding-right: 120px;

    font-size: larger;
}