body {
    background-color: #1A1A1A;
    background: url(images/home_photo_cover1.jpg) no-repeat center center fixed;
    background-size: cover;
    color: azure;
    margin: 0;
}

main {
    background-color: #1A1A1A;
    width: auto;
    display: inline-block;
}

h1 {
    color: grey; /* This is a comment! */
    text-align: center;
}

.h_align{
    text-align: center;
}

header{
    padding: 20px;
    height: 100vh;
}

.blue_overline_text {
    color: #85BEFF;
    text-decoration: underline;
}

#red_underline_text {
    color: #FF7E9C;
    text-decoration: underline;
}

.divs {
    background-color: #FFFFFF60;
    padding: 20px;
    margin: 20px;
}

#tech {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 50px auto;
    width: auto;
    
    border-style: solid;
    border-width: 5px;
    border-color: #B3465F;
    border-radius: 5px;
    font-size: larger;
    justify-content: center;
}

#techColumn1 {
    grid-column: 1;
    grid-row: 1;
}

#techColumn4 {
    grid-column: 1;
    grid-row: 2;
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
}

#techColumn5 {
    grid-column: 2;
    grid-row: 2;
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
}

#techColumn6 {
    grid-column: 3;
    grid-row: 2;
    margin-left: auto;
    margin-right: auto;
}

#techColumn4 li {
    margin: 10px;
}

#techColumn5 li {
    margin: 10px;
}

#techColumn6 > h3 {
    font-size: larger;
}

#qualifications {
    
    border-style: solid;
    border-width: 5px;
    border-color: #FFF996;
    border-radius: 5px;
}

#service {
    
    border-style: solid;
    border-width: 5px;
    border-color: #63D6FF;
    border-radius: 5px;
}